<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
    
    <bean id="states" class="java.util.HashMap"></bean>
   
    <bean id="products" class="java.util.HashMap"></bean>

    <bean id="orders" class="java.util.HashMap"></bean>

    <bean id="io" class="com.mthree.flooringmastery.ui.UserIOConsoleImpl">
    </bean>
    
    <bean id="view" class="com.mthree.flooringmastery.ui.FlooringMasteryView">
        <constructor-arg ref="io"/>
    </bean>
    
   
    <bean id="statesDao" class="com.mthree.flooringmastery.dao.StatesDaoFileImpl">
        <constructor-arg ref="states"/>
        <constructor-arg value="TestData/TestTaxes.txt"/>
        <constructor-arg value=","/>
    </bean>
    
    <bean id="productsDao" class="com.mthree.flooringmastery.dao.ProductsDaoFileImpl">
        <constructor-arg ref="products"/>
        <constructor-arg value="TestData/TestProducts.txt"/>
        <constructor-arg value=","/>
    </bean>
    
    <bean id="ordersDao" class="com.mthree.flooringmastery.dao.OrdersDaoFileImpl">
        <constructor-arg ref="orders"/>
        <constructor-arg value="TestData/Orders/"/>
        <constructor-arg value=","/>
        <constructor-arg value="TestData/TestDataExport.txt"/>
        <constructor-arg value="OrderNumber,CustomerName,State,TaxRate,ProductType,Area,CostPerSquareFoot,LaborCostPerSquareFoot,MaterialCost,LaborCost,Tax,Total"/>
    </bean>
    <bean id="auditDao" class="com.mthree.flooringmastery.dao.AuditDaoFIleImpl">
        <constructor-arg value="TestData/TestAudit.txt"/>
    </bean>

    <bean id="service" 
          class="com.mthree.flooringmastery.service.FlooringMasteryServiceImpl">
        <constructor-arg ref="productsDao"/>
        <constructor-arg ref="statesDao"/>
        <constructor-arg ref="ordersDao"/>      
        <constructor-arg ref="auditDao"/>          
    </bean>
   
    <bean id="controller" 
          class="com.mthree.flooringmastery.controller.FlooringMasteryController">
        <constructor-arg ref="service"/>
        <constructor-arg ref="view"/>
        <constructor-arg value="true"/>
    </bean>
</beans>